<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.adminlogpage">

	<resultMap id="adminPageMap"
		type="com.pcwk.ehr.cmn.AdminPageVO">
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="passwd" column="passwd" />
		<result property="userName" column="user_name" />
		<result property="birthday" column="birthday" />
		<result property="gender" column="gender" />
		<result property="keyword" column="keyword" />
		<result property="email" column="email" />
		<result property="phoneNo" column="phone_no" />
		<result property="userLevel" column="user_level" />
		<result property="withdrawal" column="withdrawal" />
		<result property="agree" column="agree" />
		<result property="otpUse" column="otp_use" />
		<result property="seq" column="seq" />
		<result property="title" column="title" />
		<result property="contents" column="contents" />
		<result property="div" column="div" />
		<result property="readCnt" column="read_cnt" />
		<result property="regDt" column="reg_dt" />
		<result property="regId" column="reg_id" />
		<result property="modDt" column="mod_dt" />
		<result property="modId" column="mod_id" />
		<result property="commentNo" column="comment_no" />
		<result property="postNo" column="post_no" />
		<result property="replyDelete" column="reply_delete" />
		<result property="boardDelete" column="board_delete" />
		<result property="no" column="no" />
		<result property="identifier" column="identifier" />
		<result property="subject" column="subject" />
		<result property="context" column="context" />
		<result property="log1" column="log_1" />
		<result property="log2" column="log_2" />
		<result property="logDate" column="log_date" />
	</resultMap>

	<insert id="addLog">
		INSERT INTO USER_LOG
		(LOG_NO, USER_ID, LOG_DATE,
		LOG_1, LOG_2)
		SELECT
		LOG_seq.nextval, #{userId},
		SYSDATE ,#{log1},#{log2}
		FROM
		MEMBER
		WHERE USER_ID = #{userId}
	</insert>
	<select id="loadLog" resultMap="adminPageMap"
		resultType="com.pcwk.ehr.cmn.AdminPageVO">
		SELECT * FROM USER_LOG
		ORDER BY log_no DESC
	</select>
	<select id="loadLogOption" resultMap="adminPageMap"
		resultType="com.pcwk.ehr.cmn.AdminPageVO">
		<![CDATA[
        SELECT * FROM USER_LOG
       WHERE log_date >= TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD HH24:MI:SS')
      AND log_date <= TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD HH24:MI:SS')
          ORDER BY log_no DESC
    ]]>
	</select>
	<select id="loadLogOptionFromId" resultMap="adminPageMap"
		resultType="com.pcwk.ehr.cmn.AdminPageVO">
		<![CDATA[
    SELECT * FROM USER_LOG
    WHERE log_date >= TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD HH24:MI:SS')
      AND log_date <= TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD HH24:MI:SS')
      AND user_id LIKE '%' || #{userId} || '%'
    ORDER BY log_no DESC
]]>

	</select>
	<select id="loadLogCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		USER_LOG
	</select>
	<select id="loadLogCountOption" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM
		USER_LOG
		WHERE user_id = #{userId}
		ORDER BY log_no DESC
	</select>
	<select id="loadLogFromId" resultMap="adminPageMap"
		resultType="com.pcwk.ehr.cmn.AdminPageVO">
		SELECT * FROM USER_LOG
		WHERE user_id LIKE '%' || #{userId}
		|| '%'
		ORDER BY log_no DESC
	</select>

</mapper>